<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редагування правопорушення</title>
  <link rel="stylesheet" href="/styles/edit.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
  <header>
    <a href="/"><img id="VSPimg" src="/img/VSP.png" height="70px" alt=""></a>
    <p>ВІЙСЬКОВА СЛУЖБА ПРАВОПОРЯДКУ</p>
    <div id="container">
      <img id="avatar" height="50px" src="/img/user.png" alt=""/>
      <a class="links" href="/login">Увійти</a>
      <a class="links" href="/register">Зареєструватися</a>
    </div>
  </header>
  <h1>Редагування правопорушення</h1>

  <form id="edit-crime-form" method="POST" action="/admin/crimes/edit">
    <input type="hidden" name="crimeId" value="<%= crime._id %>" />
    <p>Назва правопорушення</p><input type="text" name="crimeName" value="<%= crime.crimeName %>" required />
    <p>Кому видано</p><input type="text" name="issuedTo" value="<%= crime.issuedTo %>" required />
    <p>Ким видано</p><input type="text" name="issuedBy" value="<%= crime.issuedBy %>" required />
    <p>Дата видачі</p><input type="date" name="crimeDate" value="<%= crime.crimeDate.toISOString().split('T')[0] %>" required />
    <p>Накладене стягнення</p><input type="text" name="penalty" value="<%= crime.penalty %>" required />
    <button type="submit">Оновити</button>
  </form>

  <br>
  <a href="/admin"><button>Назад до списку</button></a>

  <footer>
    <p>КОНТАКТИ</p>
    <p>E-mail: admou@post.mil.gov.ua</p>
    <p>+380442936054</p>
    <img height="70px" src="/img/MinDef.png" alt=""/>
  </footer>
</body>
</html>
